.budget-show-form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #23689b;
  z-index: -1;


  .budget-show-form-container2{
    width: 90%;
    
  }

  .budget-show-form-header{
    background-color: #f8f5f1;
    font-size: 40px;
    font-weight: 600;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    border: 3px solid #0A5123;
    text-align: center;
  }

  .budget-show-form-subheader{
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 2%;
    padding-top: 1%;
    background-color: $off-white;
  }

  .budget-show-edit-button{
    text-align: center;
    width: 200px;
    border: #0A5123;
    background-color: #0A5123;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 2px;
    padding-top: 2px;
  }

  .budget-show-category-item{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: .5%;
    padding-bottom: .5%;
    font-size: 22px;

  }

  .budget-show-category-head{
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    background-color: #ECEEF1;
  }

  .budget-show-category-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: $dark-green solid 3px;
    width: 100%;
    padding: 2px;
  }

  .budget-show-category{
    background-color: white;
    border: 3px $lightest-gray solid;
  }

  .budget-show-home-button{
    text-align: center;
    width: 200px;
    border: #23689b;
    background-color: #23689b;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .budget-show-button{
    display: flex;
    justify-content: center;
    padding-bottom: 1%;
  }
}