$screen-mobile-max: 705px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;

// Mobile devices
@mixin mobile {
   @media (max-width: #{$screen-mobile-max}) {
       @content;
   }
}

// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}