.transaction-table {
  width: 95%;
  margin: 0 auto;
  border-color: $light-gray;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  margin-top: 2%;
  margin-bottom: 3%;

  th {
      font-family: $serif;
      font-size: 24px;
      font-weight: 500;
      background-color: $lightest-gray;
      padding: 10px;
      border-bottom: 1px solid $light-gray;
  }

  td {
      border-bottom: 1px solid $lightest-gray;
      padding-top: 5px;
      padding-bottom: 5px;
  }

  tr.transaction_info {
      font-size: 22px;
      font-weight: 400;
  }

  
  .transaction-date {
      text-align: center;
      margin-bottom: 10px;
  }

  .transaction-category {
      text-align: center;
  }

  .transaction-amount {
      text-align: center;
      padding-right: 10px;
  }

  .transaction-dollars, .transaction-percentage{
      text-align: center;
  }
  
  .transaction-prizequantity{
      text-align: center;
  }

  .transaction-description{
      text-align: center;
  }

  div#transaction-page {
      padding-bottom: 50px;
      margin-bottom: 150px;
  }
}

#edit-button-holder {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.edit-form-button {
    background-color: #23689b;
    color: white;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 4px;
}

.edit-form-button:hover {
    background-color: $light-gray;
}

.table-cell {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.add-pointer {
    cursor: pointer;
}

.date-stuff {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    input {
        font-size: 20px;
        margin: 0;
    }

    button {
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 2px;
    }

    button:hover {
        background-color: $light-gray;
        padding-left: 10px;
        padding-right: 10px;
    }
}